/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

#input {
	bottom: 0;
	box-shadow: 0 0 50px rgba(0,0,0,.3);
	height: 25%;
	position: absolute;
	width: 100%;
}
#handle {
	background-color: #cacaca;
	border-top: 1px dotted #a0a0a0;
	height: 10px;
	position: absolute;
	top: -10px;
	width: 100%;
}
#src {
	font-family: monospace;
	font-size: 12px;
	height: 100%;
	width: 100%;
}
#save {
	font-size: 16px;
	height: 100%;
	position: absolute;
	right: 0;
	top: 0;
	width: 150px;
}
#output {
	height: 100%;
	width: 100%;
}